@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  box-sizing: border-box;
}

:root {
    --primary-color: #557571;
    --select-color: #d49a89;
    --success: #f7d1ba;
    --danger: rgb(228, 112, 112);
  }

  body {
    margin: 0;
    font-family: 'Staatliches', cursive;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #e8e8e8;
    background-image: url(bg.png);
  }